USE [MIGAN]
GO
/****** Object:  Table [dbo].[CLASE]    Script Date: 2/15/2023 12:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[claseGanado] [char](1) NOT NULL,
	[clase1] [varchar](20) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CLASE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 2/15/2023 12:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[PRIMERAPELLIDO] [varchar](255) NOT NULL,
	[SEGUNDOAPELLIDO] [varchar](255) NULL,
	[NOMBRE] [varchar](255) NOT NULL,
	[CEDULA] [int] NOT NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 2/15/2023 12:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[consecutivo] [int] NOT NULL,
	[reunion] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[cabezas] [int] NOT NULL,
	[corral] [int] NULL,
	[kilos] [int] NOT NULL,
	[valorkilo] [int] NOT NULL,
	[valortotal] [int] NOT NULL,
	[anio] [int] NOT NULL,
	[clienteID] [int] NOT NULL,
	[claseID] [int] NOT NULL,
	[sexoID] [int] NOT NULL,
	[gastoID] [int] NOT NULL,
	[compradorID] [int] NOT NULL,
 CONSTRAINT [PK_FACTURA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GASTO]    Script Date: 2/15/2023 12:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GASTO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reunion] [int] NULL,
	[cliente] [int] NULL,
	[bascula] [int] NULL,
	[transporte] [int] NULL,
	[bano] [int] NULL,
	[recibida] [int] NULL,
	[comisionF] [int] NULL,
	[comisionG] [int] NULL,
	[vacuna] [int] NULL,
	[anticipo] [int] NULL,
	[otros] [int] NULL,
	[observacion] [varchar](500) NULL,
	[idfactura] [int] NOT NULL,
	[Total] [int] NOT NULL,
 CONSTRAINT [PK_GASTO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 2/15/2023 12:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROL1] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEXO]    Script Date: 2/15/2023 12:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEXO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sexo1] [char](1) NOT NULL,
	[descripcion] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SEXO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 2/15/2023 12:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO1] [varchar](50) NOT NULL,
	[CONTRASENA] [varchar](50) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[IDPERFIL] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK__FACTURA__claseID__220B0B18] FOREIGN KEY([claseID])
REFERENCES [dbo].[CLASE] ([id])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK__FACTURA__claseID__220B0B18]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK__FACTURA__cliente__2116E6DF] FOREIGN KEY([clienteID])
REFERENCES [dbo].[CLIENTE] ([CEDULA])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK__FACTURA__cliente__2116E6DF]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK__FACTURA__gastoID__23F3538A] FOREIGN KEY([gastoID])
REFERENCES [dbo].[GASTO] ([id])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK__FACTURA__gastoID__23F3538A]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK__FACTURA__sexoID__22FF2F51] FOREIGN KEY([sexoID])
REFERENCES [dbo].[SEXO] ([id])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK__FACTURA__sexoID__22FF2F51]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [fk_Factura_Comprador] FOREIGN KEY([compradorID])
REFERENCES [dbo].[CLIENTE] ([CEDULA])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [fk_Factura_Comprador]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ROL] FOREIGN KEY([IDPERFIL])
REFERENCES [dbo].[ROL] ([ID])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ROL]
GO
