USE [MIGAN2]
GO
/****** Object:  Table [dbo].[BANCO]    Script Date: 6/10/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANCO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASE]    Script Date: 6/10/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[claseGanado] [char](1) NOT NULL,
	[clase] [varchar](20) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASECLIENTE]    Script Date: 6/10/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASECLIENTE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [int] NOT NULL,
	[idTipoCliente] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 6/10/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[primerApellido] [varchar](50) NOT NULL,
	[segundoApellido] [varchar](50) NULL,
	[nombre] [varchar](50) NOT NULL,
	[tipoCliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTA]    Script Date: 6/10/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numeroCuenta] [varchar](20) NOT NULL,
	[ciudad] [varchar](20) NOT NULL,
	[sucursal] [varchar](50) NOT NULL,
	[comentario] [varchar](100) NULL,
	[idCliente] [int] NULL,
	[idBanco] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 6/10/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[consecutivo] [bigint] NOT NULL,
	[reunion] [int] NULL,
	[fecha] [datetime] NULL,
	[id_propietario] [int] NULL,
	[id_claseGanado] [int] NULL,
	[corral] [int] NULL,
	[cabezas] [int] NULL,
	[sexoID] [int] NULL,
	[kilos] [int] NULL,
	[valorKg] [money] NULL,
	[valorTotal] [money] NULL,
	[anio] [int] NULL,
	[compradorID] [int] NULL,
	[gastoID] [int] NULL,
	[claseID] [int] NULL,
 CONSTRAINT [ID_PK, PK_FACTURA] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GASTO]    Script Date: 6/10/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GASTO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reunion] [int] NULL,
	[cliente] [int] NULL,
	[bascula] [int] NULL,
	[transporte] [int] NULL,
	[bano] [int] NULL,
	[recibida] [int] NULL,
	[comisionF] [int] NULL,
	[comisionG] [int] NULL,
	[vacuna] [int] NULL,
	[anticipo] [int] NULL,
	[otros] [int] NULL,
	[observacion] [varchar](500) NULL,
	[idfactura] [int] NOT NULL,
	[Total] [int] NOT NULL,
 CONSTRAINT [PK_GASTO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HACIENDA]    Script Date: 6/10/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HACIENDA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[municipio] [varchar](50) NOT NULL,
	[idCliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Porcentajes]    Script Date: 6/10/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Porcentajes](
	[ID] [int] NOT NULL,
	[Feria] [decimal](18, 1) NULL,
	[Recibida] [decimal](18, 1) NULL,
	[Comision] [decimal](18, 1) NULL,
	[FondoNal] [decimal](18, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 6/10/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROL1] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEXO]    Script Date: 6/10/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEXO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sexo] [char](1) NOT NULL,
	[descripcion] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOCLIENTE]    Script Date: 6/10/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOCLIENTE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[valor] [char](1) NOT NULL,
	[descripcion] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 6/10/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO1] [varchar](50) NOT NULL,
	[CONTRASENA] [varchar](50) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[IDPERFIL] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT ((1)) FOR [tipoCliente]
GO
ALTER TABLE [dbo].[CLASECLIENTE]  WITH CHECK ADD  CONSTRAINT [FK__ClaseCliente__idCliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[CLIENTE] ([id])
GO
ALTER TABLE [dbo].[CLASECLIENTE] CHECK CONSTRAINT [FK__ClaseCliente__idCliente]
GO
ALTER TABLE [dbo].[CLASECLIENTE]  WITH CHECK ADD  CONSTRAINT [FK__ClaseCliente__idTipoCliente] FOREIGN KEY([idTipoCliente])
REFERENCES [dbo].[TIPOCLIENTE] ([id])
GO
ALTER TABLE [dbo].[CLASECLIENTE] CHECK CONSTRAINT [FK__ClaseCliente__idTipoCliente]
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD FOREIGN KEY([idBanco])
REFERENCES [dbo].[BANCO] ([id])
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD FOREIGN KEY([idCliente])
REFERENCES [dbo].[CLIENTE] ([id])
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK__FACTURA__claseID] FOREIGN KEY([claseID])
REFERENCES [dbo].[CLASE] ([id])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK__FACTURA__claseID]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK__FACTURA__cliente__2116E6DF] FOREIGN KEY([id_propietario])
REFERENCES [dbo].[CLIENTE] ([id])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK__FACTURA__cliente__2116E6DF]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK__FACTURA__gastoID] FOREIGN KEY([gastoID])
REFERENCES [dbo].[GASTO] ([id])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK__FACTURA__gastoID]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK__FACTURA__sexoID] FOREIGN KEY([sexoID])
REFERENCES [dbo].[SEXO] ([id])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK__FACTURA__sexoID]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [fk_Factura_Comprador] FOREIGN KEY([compradorID])
REFERENCES [dbo].[CLIENTE] ([id])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [fk_Factura_Comprador]
GO
ALTER TABLE [dbo].[HACIENDA]  WITH CHECK ADD FOREIGN KEY([idCliente])
REFERENCES [dbo].[CLIENTE] ([id])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ROL] FOREIGN KEY([IDPERFIL])
REFERENCES [dbo].[ROL] ([ID])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ROL]
GO
